.loader
  i.fa.fa-circle-o-notch.fa-spin.fa-5x

.location

javascript:
  $.getJSON("http://myexternalip.com/json?", function(data, textStatus, xhr) {   // main callback function
    if(xhr.status == 500 || xhr.status == 404 || xhr.status == 503) {
     $.get('/geoplugins/locate');
    } else {
      $.get('/geoplugins/locate?ip= ' + data.ip);
    }
  });